* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #232323;
}

.mainCont {
  width: 50vw;
}

.itemRow {
  width: 100%;
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(-12deg) rotateY(45deg);
  perspective: 9999px;
}

.itemRow:before {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: -50%;
  width: 200%;
  height: 1px;
  opacity: 0.15;
  background: transparent;
  box-shadow: 0px 1px 1px whitesmoke, 0px 3px 3px whitesmoke, 0px 8px 6px whitesmoke, 0px 16px 10px whitesmoke, 0px 25px 15px whitesmoke;
}

.itemRow:after {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: -50%;
  width: 200%;
  height: 1px;
  opacity: 0.85;
  background: transparent;
  box-shadow: -6px -3px 6px black, -16px -8px 6px black, -32px -16px 10px black;
  transform: translateZ(-5px);
}

.item {
  width: 30%;
  border: 5px solid whitesmoke;
  transform-origin: bottom;
  transform: rotateX(10deg);
  transition: all 0.2s ease;
}

.item:hover {
  transform: rotateX(0deg);
}