* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --BilderSize: min(400px, 90vw);
}

html {
  scroll-snap-type: y proximity;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #232323;
}

.mainCont {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  scroll-snap-align: center;
}

#BilderScroll {
  cursor: pointer;
  overflow-x: hidden;
  background-image: url("img/shelf.svg");
  background-repeat: repeat-x;
  background-size: 1000px;
}

#BilderScroll.active {
  cursor: grabbing;
}

.BilderRow {
  width: max-content;
  min-width: 100%;
  height: 100%;
  max-height: var(--BilderSize);
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  transform-style: preserve-3d;
}

.BildCont {
  max-width: var(--BilderSize);
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  perspective: 100cm;
  perspective-origin: 50% -50%;
  z-index: 0;
}

.Bild {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid whitesmoke;
  transform-origin: bottom;
  transform: rotateY(18deg) rotateX(10deg);
  transition: transform 0.2s ease;
}

.Bild:hover {
  transform: rotateY(18deg) rotateX(0deg);
}

.Bild.active {
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  border: 10px solid whitesmoke;
}

.overlay {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}