/* MAIN */
@property --accentColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(60% 0.25 30deg);
}

@property --TXTcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(95% 0.01 45deg);
}

@property --BGcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(25% 0.015 225deg);
}

@property --altBGcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(30% 0.015 225deg);
}

@property --primaryBtnFgColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(12% 0.01 45deg);
}

@property --primaryBtnBgColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(60% 0.25 30deg);
}

@property --shadowColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(15% 0.015 225deg);
}

@property --tooltipFgColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(92% 0.0222 30deg);
}

@property --tooltipBgColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(10% 0.03 30deg);
}

/* TEXT SHUFFLE EFFECT */
@property --textShuffleColor1 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(54.71% 0.2044 28.52deg);
}

@property --textShuffleColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(66.38% 0.1622 50.4deg);
}

@property --textShuffleColor3 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(80.86% 0.1601 96.26deg);
}

/* TECH STACK SECTION */
@property --techstackCardAccentColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(60% 0.25 30deg);
}

@property --animatedTechstackCardAccentColor {
  syntax: "<color>";
  inherits: true;
  initial-value: transparent;
}

/* ILLUSTRATION SECTION */
@property --illustrationBgBlur {
  syntax: "<length>";
  inherits: true;
  initial-value: 5px;
}

@property --illustrationBgScale {
  syntax: "<number>";
  inherits: true;
  initial-value: 1.1;
}
