@property --accentColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(60% 0.25 30deg);
}

@property --TXTcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(95% 0.01 45deg);
}

@property --BGcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(25% 0.015 225deg);
}

@property --altBGcolor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(30% 0.015 225deg);
}

@property --shadowColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(15% 0.015 225deg);
}

@property --tooltipColor {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(20% 0.015 225deg);
}

@property --textShuffleColor1 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(54.71% 0.2044 28.52deg);
}

@property --textShuffleColor2 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(66.38% 0.1622 50.4deg);
}

@property --textShuffleColor3 {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(80.86% 0.1601 96.26deg);
}
