@layer css-variables, font, reset, main, reducedmotion;

@import url("./css-variables.css") layer(css-variables);
@import url("./font.css") layer(font);
@import url("noicss.reset") layer(reset);
@import url("noicss.reducedmotion") layer(reducedmotion);

@layer main {
  /* VARIABLES: */
  :root {
    --accentColor: oklch(60% 0.25 30deg);
    --TXTcolor: oklch(95% 0.01 45deg);
    --BGcolor: oklch(25% 0.015 225deg);
    --altBGcolor: oklch(30% 0.015 225deg);
    --bgContrastColor: contrast-color(var(--BGcolor));
    --primaryBtnFgColor: oklch(12% 0.01 45deg);
    --primaryBtnBgColor: oklch(60% 0.25 30deg);
    --shadowColor: oklch(15% 0.015 225deg);
    --tooltipFgColor: oklch(92% 0.0222 30deg);
    --tooltipBgColor: oklch(10% 0.03 30deg);
    --textShuffleColor1: oklch(54.71% 0.2044 28.52deg);
    --textShuffleColor2: oklch(66.38% 0.1622 50.4deg);
    --textShuffleColor3: oklch(80.86% 0.1601 96.26deg);
    --headerHeight: 4.5rem;
    --headerMainGap: calc(var(--headerHeight) * 0.15);
    --contentHeight: calc(100dvh - var(--headerHeight));
    --BilderSize: min(400px, 60vw, 60svh);
    --fullBorderRadius: calc(infinity * 1px);
    --easeOut: cubic-bezier(0.22, 1, 0.35, 1);

    transition-property: --accentColor, --TXTcolor, --BGcolor, --altBGcolor, --bgContrastColor, --primaryBtnFgColor, --primaryBtnBgColor, --shadowColor, --tooltipFgColor, --tooltipBgColor;
    transition-duration: 0.2s;
    transition-timing-function: var(--easeOut);
  }

  /* HELPERS: */
  .btn {
    padding-inline: 1em;
    width: max-content;
    min-height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--primaryBtnFgColor);
    font-weight: 700;
    border-radius: var(--fullBorderRadius);
    background-color: var(--primaryBtnBgColor);
    transition:
      color 0.15s var(--easeOut),
      background-color 0.15s var(--easeOut);
    -webkit-tap-highlight-color: transparent;

    @supports (corner-shape: superellipse(1)) {
      corner-shape: superellipse(2);
      transition:
        color 0.15s var(--easeOut),
        corner-shape 0.15s var(--easeOut),
        background-color 0.15s var(--easeOut);

      &:is(:hover, :focus-visible) {
        corner-shape: superellipse(1.5);
      }
    }

    &:active {
      color: color-mix(in oklch shorter hue, var(--primaryBtnFgColor) 60%, var(--primaryBtnBgColor));
      background-color: color-mix(in oklch shorter hue, var(--primaryBtnBgColor) 92%, var(--BGcolor));
      @supports (corner-shape: superellipse(1)) {
        corner-shape: superellipse(1.33);
      }
    }
  }

  .tooltipTop,
  .tooltipBottom {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transition:
        opacity 0.33s var(--easeOut),
        transform 0.15s linear;
    }
    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      color: var(--tooltipFgColor);
      font-size: 0.875rem;
      font-weight: 700;
      border-radius: 4px;
      background-color: var(--tooltipBgColor);
    }
    &::after {
      content: "";
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .tooltipBottom {
    &::before,
    &::after {
      transform: translate(-50%, -5px);
    }
    &::before {
      top: calc(100% + 5px);
    }
    &::after {
      top: calc(100% + 1px);
      border-bottom: 5px solid var(--tooltipBgColor);
    }
  }
  .tooltipTop {
    &::before,
    &::after {
      transform: translate(-50%, 5px);
    }
    &::before {
      bottom: calc(100% + 5px);
    }
    &::after {
      bottom: calc(100% + 1px);
      border-top: 5px solid var(--tooltipBgColor);
    }
  }

  .textShuffle {
    font-family: Hack, Consolas, monospace;

    & span.nobreak {
      white-space: nowrap;
    }
  }

  /* MAIN: */
  body {
    width: 100%;
    max-height: 100dvh;
    display: block;
    color: var(--TXTcolor);
    background-color: var(--BGcolor);
    overflow: hidden;
  }

  #bgCanvas {
    width: 100%;
    height: 100lvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -100;
  }

  /* HEADER */
  .header {
    padding: var(--headerMainGap) calc(var(--headerMainGap) * 2);
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--headerMainGap);
    position: fixed;
    top: 0;
    box-shadow: 0 0 35px 0 var(--shadowColor);
    z-index: 100;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: ". logo social";
      justify-items: center;
      align-content: center;
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    &::before {
      height: 200%;
      background: linear-gradient(to bottom, var(--altBGcolor) 0%, color-mix(in srgb, var(--altBGcolor) 50%, transparent) 50%);
      backdrop-filter: blur(12px);
      mask-image: linear-gradient(to bottom, #000 0%, #000 50%, transparent 50%);
      z-index: -2;
    }
    &::after {
      height: 100%;
      background: color-mix(in srgb, var(--altBGcolor) 50%, transparent);
      backdrop-filter: blur(6px) brightness(200%);
      mask-image: linear-gradient(to bottom, #000 0%, #000 3%, transparent 3%); /* 3% here */
      z-index: -1;
      translate: 0 97%; /* -3% here */
    }
  }

  .headerLogoCont {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--headerMainGap);
  }
  .headerLogoIcon {
    height: 100%;
    color: var(--accentColor);
  }
  .headerLogoTxt {
    display: none;

    @media (width >= 768px) {
      display: initial;
      color: var(--TXTcolor);
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .headerSocialCont {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: calc(var(--headerMainGap) * 2);

    @media (width >= 768px) {
      gap: calc(var(--headerMainGap) * 3);
    }
  }
  .socialBtnLink {
    height: 41px;
    aspect-ratio: 1;
    fill: var(--BGcolor);
    border-radius: var(--fullBorderRadius);
    background-color: var(--TXTcolor);
  }
  .socialBtnImg {
    width: 100%;
    height: 100%;
    transform-origin: center;
    scale: 0.66;
    transition: scale 0.15s var(--easeOut);
  }
  .socialBtnLink:hover .socialBtnImg {
    scale: 0.75;
  }

  /* CONTENT */
  .page-wrapper {
    width: 100%;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden auto;
    scroll-behavior: smooth;

    @media (width >= 768px) {
      @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: var(--accentColor) var(--altBGcolor);
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        margin-top: var(--headerHeight);
        background: var(--altBGcolor);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: var(--fullBorderRadius);
        background: var(--accentColor);
      }
    }
  }

  .mainCont {
    margin: 5rem 0 10rem;
    padding: 0 5%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex: 1 0 100lvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(1 of .mainCont) {
      margin-top: 0;
    }

    &:nth-last-child(1 of .mainCont) {
      margin-bottom: 0;
    }
  }

  #heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (width < 1024px) {
      padding-top: calc(var(--headerHeight) * 2);
    }

    @media (width >= 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (width > 1920px) {
      padding: 0 10%;
    }
  }

  .heroTextCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2.5rem;

    & .heroHeadline {
      font-size: clamp(2rem, 3.5vw, 5rem);

      & .droopyLetterCont {
        position: relative;
        color: transparent;
      }

      & .droopyLetterSvg {
        padding: 0 0.033em 0 0.055em;
        position: absolute;
        top: -0.1em;
        overflow: visible;
        pointer-events: none;
        & path {
          fill: var(--TXTcolor);
        }
      }

      & .droopyPath {
        transform-origin: 50% 64.1923%;
        transform: scaleY(1);
        transition: transform 60s var(--easeOut);

        @starting-style {
          transform: scaleY(0);
        }
      }

      &:hover {
        & .droopyPath {
          transform: scaleY(0);
          transition-duration: 0.66s;
        }
      }
    }

    & .heroParagraph {
      width: 100%;
      font-size: 1.5rem;
      line-height: 1.333;

      @media (width > 1920px) {
        width: 50ch;
      }
    }
  }

  /* hero image selection */
  .heroImgSectionHoverTarget {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .heroImgSectionCont {
      width: 100%;
      max-width: var(--contentHeight);
      position: relative;
    }

    & .heroImgs {
      width: 100%;
      aspect-ratio: 1;
      position: relative;
    }

    & .heroImgCont {
      position: absolute;
      inset: 0;
      opacity: 0;
      z-index: 0;
      transition: opacity, transform;
      transition-duration: 0.33s;
      transition-timing-function: var(--easeOut);

      /* stylelint-disable-next-line no-descending-specificity */
      &.active {
        opacity: 1;
        z-index: 1;
        transform: scale(1) translateX(0);
      }
      &.fadeOutL,
      &.fadeInL {
        transform: scale(0.8) translateX(-100%);
      }
      &.fadeOutR,
      &.fadeInR {
        transform: scale(0.8) translateX(100%);
      }
    }

    & .heroImg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mask-composite: intersect;
      mask-image: linear-gradient(#fff 90%, #000 100%), radial-gradient(farthest-side, #fff 90%, #000 120%);
      mask-mode: luminance;

      .heroImgCont:has(.heroImgDLC) & {
        filter: grayscale(1);
      }
    }

    & .heroImgCaption {
      padding: 0.2em 0.5em;
      width: max-content;
      position: absolute;
      bottom: 0;
      left: 50%;
      color: var(--TXTcolor);
      font-size: 1.5rem;
      font-weight: 700;
      border: none;
      background: none;
      opacity: 0;
      z-index: 2;
      transform-origin: 50% 250%;
      transform: rotate(-8deg) skewX(6deg) skewY(8deg) translate(-50%, 150%);
      transition: opacity, transform;
      transition-duration: 0.33s;
      transition-timing-function: var(--easeOut);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 3px solid var(--accentColor);
        background-color: var(--BGcolor);
        z-index: -1;
        transform: skewX(-8deg) skewY(-2deg);
      }
    }

    & .heroImgDLC {
      position: absolute;
      bottom: 25%;
      left: 50%;
      font-size: 1.2rem;
      text-decoration: none;
      z-index: 2;
      transform: translateX(-50%);
    }

    & .heroImgSelectorBtnsCont {
      --btnSize: 2.5rem;

      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: calc(50% - calc(var(--btnSize) / 2));
      z-index: 2;
    }

    & .heroImgSelectorBtn {
      width: var(--btnSize);
      height: var(--btnSize);
      position: relative;
      color: var(--TXTcolor);
      font-size: 1.2rem;
      font-weight: 700;
      background: none;
      outline-offset: 10px;
      opacity: 0;
      cursor: pointer;
      transform: translateY(300%);
      transition:
        opacity 0.15s 0s var(--easeOut),
        transform 0.15s 0s var(--easeOut);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 3px solid var(--accentColor);
        background-color: var(--BGcolor);
        z-index: -1;
        transform: skewX(-12deg) skewY(3deg) rotate(0deg) scale(1);
        transition:
          background-color 0.15s 0s var(--easeOut),
          transform 0.15s 0s var(--easeOut);
      }

      &:is(:hover, :focus-visible) {
        &::before {
          background-color: var(--accentColor);
          transform: skewX(12deg) skewY(-3deg) rotate(-3deg) scale(1.2);
        }
      }
    }

    /* hero image selection - hover/focus states */
    &.hover,
    &:hover,
    &:has(:is(button, a):focus-visible) {
      & .heroImgSelectorBtn {
        opacity: 1;
        transform: translateY(0);
        &:nth-child(even) {
          transition-delay: 50ms;
        }
      }
      & .heroImgCaption {
        opacity: 1;
        transform: rotate(0deg) skewX(0deg) skewY(0deg) translate(-50%, 50%);
      }
    }
  }

  .heroBgSmokeSvg {
    width: 200%;
    height: 200%;
    position: absolute;
    right: 0;
    bottom: 0;
    mask-image: radial-gradient(closest-side, #fff 90%, #000 100%);
    mask-mode: luminance;
    z-index: -10;
    pointer-events: none;
    transform: translate(33%, 48%);
  }

  /* other sections */
  .sectionHeadlineCont {
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;

    @media (width >= 768px) {
      flex-direction: row;
    }
  }
  .sectionHeadline {
    position: relative;
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: -0.025em;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    @supports (animation-timeline: view()) {
      animation: sectionHeadlineAnim;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-timeline: view();
      animation-range: contain;
    }

    @media (width >= 768px) {
      font-size: 4rem;
      text-align: left;
    }

    &::before {
      content: attr(data-shadowtext);
      position: absolute;
      inset: 0;
      color: var(--shadowColor);
      text-shadow:
        -1px 2px 1px var(--shadowColor),
        -2px 4px 1px var(--shadowColor),
        -3px 6px 1px var(--shadowColor),
        -4px 8px 1px var(--shadowColor),
        -5px 10px 1px var(--shadowColor),
        -6px 12px 1px var(--shadowColor),
        -7px 14px 1px var(--shadowColor),
        -8px 16px 1px var(--shadowColor),
        -9px 18px 1px var(--shadowColor),
        -10px 20px 1px var(--shadowColor);
      z-index: -1;
    }
  }
  .toolIconsCont {
    height: 3rem;
    display: flex;
    gap: 1rem;
  }
  .toolIconCont {
    width: 3rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .toolIconImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  /* TECH STACK */
  .techstack {
    --techstackSvgSize: min(20vw, 100px);

    padding: 0;

    @media (width >= 1024px) {
      padding: 0 10%;
    }

    & .techstackCards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;
    }

    & .techstackCardCont {
      padding: 1rem;

      @supports (animation-timeline: view()) {
        animation: techstackCardContReveal;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: cover;
      }

      &.preferredStart {
        position: relative;
        border-image: linear-gradient(135deg, var(--TXTcolor) 0%, transparent 100px) 2 / 2px 0 0 2px;

        &::after {
          content: "preferred";
          padding: 0 0.25em;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 0.875rem;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          background-image: linear-gradient(to bottom, transparent, var(--BGcolor) 33%, var(--BGcolor) 50%, transparent);
          transform-origin: 0 0.5cap;
          transform: rotate(-90deg) translateX(-100%);
        }
      }

      &.preferredEnd {
        border-image: linear-gradient(-45deg, var(--TXTcolor) 0%, transparent 100px) 2 / 0 2px 2px 0;
      }

      & .techstackCard {
        --techstackCardAccentColor: var(--bgContrastColor); /* <- fallback (black or white) */
        --animatedTechstackCardAccentColor: transparent;

        padding-block: 1rem;
        width: calc(var(--techstackSvgSize) + 2rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 2px solid var(--animatedTechstackCardAccentColor);
        border-radius: 8px;
        background-color: var(--altBGcolor);
        box-shadow: 0 3px 24px 4px color-mix(in oklch, var(--animatedTechstackCardAccentColor) 25%, transparent);
        transition: --animatedTechstackCardAccentColor 0.15s var(--easeOut);

        @media not (hover: hover) {
          @supports (animation-timeline: view()) {
            animation: techstackCardAnim;
            animation-timing-function: linear;
            animation-fill-mode: both;
            animation-timeline: view();
            animation-range: contain;
          }
        }

        @media (hover: hover) {
          &:is(:hover, :focus-visible) {
            --animatedTechstackCardAccentColor: var(--techstackCardAccentColor);
          }
        }

        & svg {
          width: var(--techstackSvgSize);
          height: var(--techstackSvgSize);
          color: var(--bgContrastColor);
          fill-rule: evenodd;
          clip-rule: evenodd;
        }

        & p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  /* PHOTOGRAPHY */
  #BilderScroll {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media (width < 768px) {
      flex-basis: 100svh;
    }
  }

  #BilderShelf {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/svg/shelf.svg");
    background-size: calc(var(--BilderSize) * 2);
    background-position-y: calc(50% + var(--BilderSize) * 0.535);
    background-repeat: repeat-x;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  #BilderScroll:has(.Bild.active) {
    & #BilderShelf {
      opacity: 0;
    }
  }

  #BilderRow {
    padding: 0 5vw;
    width: max-content;
    min-width: 100%;
    height: 100%;
    max-height: var(--BilderSize);
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    touch-action: pan-y;

    @media (width >= 768px) {
      gap: 5rem;

      &:focus-visible {
        outline: none;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .BildCont {
    width: var(--BilderSize);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;
    perspective-origin: 50% -50%;
    perspective: 100cm;

    &:has(.Bild.active) {
      width: calc(100vw - 2rem);
      height: calc(var(--contentHeight) - var(--headerHeight));
      align-items: center;
      top: calc(calc(var(--contentHeight) - var(--BilderSize)) / 2 * -1);
      z-index: 2;
    }
  }

  .Bild {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid var(--TXTcolor);
    outline: 1px solid transparent; /* <- antialiasing fix for chrome on android */
    user-select: none;
    transform-origin: bottom;
    transform: rotateY(18deg) rotateX(10deg);
    transition:
      transform 0.33s var(--easeOut),
      border 0.33s var(--easeOut);
    backface-visibility: hidden;
    interpolate-size: allow-keywords;
    transition-behavior: allow-discrete;

    &.hover {
      transform: rotateY(18deg) rotateX(0deg);
    }

    &.focus {
      outline: thick solid var(--accentColor);
      outline-offset: 5px;
      transform: rotateY(18deg) rotateX(0deg);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.active {
      border: 10px solid var(--TXTcolor);
      transform: rotateY(0deg) rotateX(0deg);
    }
  }

  .BilderScrollOverlay {
    height: var(--BilderSize);
    aspect-ratio: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    pointer-events: none;
    transition: opacity 0.15s linear;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--TXTcolor);
      mask-image: radial-gradient(farthest-side at 100%, #000 0% 15%, #0000 100%);
      opacity: 0.66;
    }
  }
  .BilderScrollOverlayText {
    display: none;
    color: var(--BGcolor);
    font-size: calc(var(--BilderSize) / 10);
    font-weight: 700;
    text-wrap: nowrap;
    user-select: none;
    translate: 1cap 0;
    body:not(:has(*:focus-visible)) &.mouse {
      display: block;
      rotate: -90deg;
    }
    body:has(*:focus-visible) &.keyboard {
      display: block;
      & kbd {
        padding: 0 0.25em;
        border: 2px solid currentColor;
        border-radius: 0.125em;
      }
    }
  }

  /* ILLUSTRATIONS */
  .illustrations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;

    @media (width >= 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5rem;
    }
  }

  .illustrationCont {
    --illustrationBgBlur: 5px;
    --illustrationBgScale: 1.1;

    width: var(--BilderSize);
    aspect-ratio: 1;
    position: relative;
    border: 5px solid var(--TXTcolor);
    overflow: hidden;
    transition:
      --illustrationBgBlur 0.2s var(--easeOut),
      --illustrationBgScale 0.2s var(--easeOut);

    @media (pointer: coarse) {
      @supports (animation-timeline: view()) {
        animation: illustrationBgAnim;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: contain;
      }
    }

    @media (pointer: fine) {
      &:is(:hover, :focus-visible) {
        --illustrationBgBlur: 0px;
        --illustrationBgScale: 1;
      }
    }

    & .illustrationBG,
    & .illustrationFG {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    & .illustrationBG {
      filter: blur(var(--illustrationBgBlur));
      scale: var(--illustrationBgScale);
    }
  }

  /* ANIMATIONS */
  .animationCont {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    @media (width >= 768px) {
      justify-content: space-evenly;
    }
  }

  .animationSVG,
  .animationVid {
    width: auto;
    max-width: 50svh;
    height: auto;
    max-height: 50svh;

    @media (width >= 1024px) {
      max-width: 25%;
    }
  }

  .animationVid {
    border: 5px solid var(--TXTcolor);
  }

  /* MEMES */
  .memes {
    flex-basis: auto;
  }

  .memeImgCont {
    width: auto;
    height: calc(var(--contentHeight) * 0.66);
  }

  .memeImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .memeBtn {
    margin-block: 2.5rem;
    anchor-name: --memeBtnAnchor;
    position: relative;
    font-size: 1.125rem;
    z-index: 10;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
    }

    & .memeBtnText {
      filter: blur(0);
      opacity: 1;
      transition:
        opacity 0.25s 0s ease-out,
        filter 0.125s 0.125s ease-out;
    }

    & .memeBtnSvg {
      height: 80%;
      aspect-ratio: 1;
      position: absolute;
      top: 10%;
      right: 50%;
      fill: currentColor;
      filter: blur(0.33em);
      opacity: 0;
      transform: translateX(50%);
      transition:
        opacity 0.25s 0s ease-in,
        filter 0.125s 0s ease-in;
    }

    &.loading {
      & .memeBtnText {
        filter: blur(0.33em);
        opacity: 0;
        transition:
          opacity 0s 0s linear,
          filter 0s 0s linear;
      }

      & .memeBtnSvg {
        filter: blur(0);
        opacity: 1;
        transition:
          opacity 0s 0s linear,
          filter 0s 0s linear;
      }
    }
  }

  .memeBtnVideo {
    width: 100%;
    position: absolute;
    position-anchor: --memeBtnAnchor;
    position-area: top center;
    clip-path: inset(0 0 calc(100% - 10px) 0);
    pointer-events: none;
    transform: translateY(100%);
    transition:
      transform 0.5s var(--easeOut),
      clip-path 0.4s var(--easeOut);

    @supports not (position-anchor: --memeBtnAnchor) {
      display: none;
    }

    &.poppedOut {
      clip-path: inset(0 0 -10px 0);
      transform: translateY(0%);
    }
  }

  /* KEYFRAMES */
  @keyframes sectionHeadlineAnim {
    0% {
      font-weight: 100;
    }
    15% {
      font-weight: 250;
    }
    85% {
      font-weight: 250;
    }
    100% {
      font-weight: 100;
    }
  }

  @keyframes illustrationBgAnim {
    0% {
      --illustrationBgBlur: 5px;
      --illustrationBgScale: 1.1;
    }
    15% {
      --illustrationBgBlur: 0px;
      --illustrationBgScale: 1;
    }
    85% {
      --illustrationBgBlur: 0px;
      --illustrationBgScale: 1;
    }
    100% {
      --illustrationBgBlur: 5px;
      --illustrationBgScale: 1.1;
    }
  }

  @keyframes techstackCardContReveal {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    50%,
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }

  @keyframes techstackCardAnim {
    0% {
      --animatedTechstackCardAccentColor: transparent;
    }
    45% {
      --animatedTechstackCardAccentColor: var(--techstackCardAccentColor);
    }
    65% {
      --animatedTechstackCardAccentColor: var(--techstackCardAccentColor);
    }
    100% {
      --animatedTechstackCardAccentColor: transparent;
    }
  }
}
