@layer font, reset, main;

@import url("./font.css") layer(font);
@import url("noicss.reset") layer(reset);

@layer main {
  /* VARIABLES: */
  :root {
    --accentColor: oklch(60% 0.25 30deg);
    --TXTcolor: oklch(95% 0.01 45deg);
    --BGcolor: oklch(25% 0.015 225deg);
    --lightBGcolor: oklch(30% 0.015 225deg);
    --shadowColor: oklch(15% 0.015 225deg);
    --tooltipColor: oklch(20% 0.015 225deg);
    --headerHeight: 4.5rem;
    --headerMainGap: calc(var(--headerHeight) * 0.15);
    --contentHeight: calc(100dvh - var(--headerHeight));
    --BilderSize: min(400px, 60vw, 60svh);
    --fullBorderRadius: calc(infinity * 1px);
    --easeOut: cubic-bezier(0.22, 1, 0.35, 1);
  }

  /* HELPERS: */
  /* TODO: maybe make some flex helpers like .frcc .frcfs ect. */
  .textShuffle {
    font-family: Hack, Consolas, monospace;

    & span.nobreak {
      white-space: nowrap;
    }
  }

  .tooltipBottom {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -5px);
      transition: all 0.15s var(--easeOut);
    }
    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      top: calc(100% + 5px);
      color: var(--TXTcolor);
      font-size: 0.875rem;
      font-weight: 400;
      border-radius: 4px;
      background-color: var(--tooltipColor);
    }
    &::after {
      content: "";
      top: calc(100% + 1px);
      border-right: 5px solid transparent;
      border-bottom: 5px solid var(--tooltipColor);
      border-left: 5px solid transparent;
    }
    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .tooltipTop {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, 5px);
      transition: all 0.15s var(--easeOut);
    }
    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      bottom: calc(100% + 5px);
      color: var(--TXTcolor);
      font-size: 0.875rem;
      font-weight: 400;
      border-radius: 4px;
      background-color: var(--tooltipColor);
    }
    &::after {
      content: "";
      bottom: calc(100% + 1px);
      border-top: 5px solid var(--tooltipColor);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  /* MAIN: */
  body {
    width: 100%;
    max-height: 100dvh;
    display: block;
    background-color: var(--BGcolor);
    overflow: hidden;
  }

  #bgCanvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -100;
  }

  /* HEADER */
  .header {
    padding: var(--headerMainGap) calc(var(--headerMainGap) * 2);
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--headerMainGap);
    position: fixed;
    top: 0;
    box-shadow: 0 0 35px 0 var(--shadowColor);
    z-index: 100;

    @media (width >= 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: ". logo social";
      justify-items: center;
      align-content: center;
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    &::before {
      height: 200%;
      background: linear-gradient(to bottom, var(--lightBGcolor) 0%, color-mix(in srgb, var(--lightBGcolor) 50%, transparent) 50%);
      backdrop-filter: blur(12px);
      mask-image: linear-gradient(to bottom, #000 0%, #000 50%, transparent 50%);
      z-index: -2;
    }
    &::after {
      height: 100%;
      background: color-mix(in srgb, var(--lightBGcolor) 50%, transparent);
      backdrop-filter: blur(6px) brightness(200%);
      mask-image: linear-gradient(to bottom, #000 0%, #000 3%, transparent 3%); /* 3% here */
      z-index: -1;
      translate: 0 97%; /* -3% here */
    }
  }

  .headerLogoCont {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--headerMainGap);
  }
  .headerLogoIcon {
    height: 100%;
    color: var(--accentColor);
  }
  .headerLogoTxt {
    display: none;

    @media (width >= 768px) {
      display: initial;
      color: var(--TXTcolor);
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .headerSocialCont {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: calc(var(--headerMainGap) * 2);

    @media (width >= 768px) {
      gap: calc(var(--headerMainGap) * 3);
    }
  }
  .socialBtnLink {
    height: 41px;
    aspect-ratio: 1;
    border-radius: var(--fullBorderRadius);
    background-color: var(--TXTcolor);
  }
  .socialBtnImg {
    width: 100%;
    height: 100%;
    transform-origin: center;
    scale: 0.66;
    transition: scale 0.15s var(--easeOut);
  }
  .socialBtnLink:hover .socialBtnImg {
    scale: 0.75;
  }

  /* CONTENT */
  .page-wrapper {
    width: 100%;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden auto;
    scroll-behavior: smooth;

    @media (width >= 768px) {
      @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: var(--accentColor) var(--lightBGcolor);
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        margin-top: var(--headerHeight);
        background: var(--lightBGcolor);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: var(--fullBorderRadius);
        background: var(--accentColor);
      }
    }
  }

  .mainCont {
    margin: 5rem 0 10rem;
    padding: 0 5%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex: 1 0 100lvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-top: 0;
      /* TODO: laggt mobil, idk */
      /* background-image: url("/svg/HeroBG.svg"); */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  #heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (width < 1024px) {
      padding-top: calc(var(--headerHeight) * 2);
    }

    @media (width >= 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (width > 1920px) {
      padding: 0 10%;
    }
  }

  .heroTextCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2.5rem;

    & .heroHeadline {
      font-size: clamp(2rem, 3.5vw, 5rem);
    }

    & .heroParagraph {
      width: 100%;
      font-size: 1.5rem;
      line-height: 1.333;

      @media (width > 1920px) {
        width: 50ch;
      }
    }
  }

  .heroImgCont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .heroImgSelectorCont {
      width: 100%;
      max-width: 500px;

      @media (width > 1920px) {
        width: 50%;
      }

      & .heroImg {
        width: 100%;
        height: 100%;
        transition: scale 0.33s var(--easeOut);
      }

      & .heroImgSelectorBtnsCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & .heroImgSelectorBtns {
          width: 2.5rem;
          height: 2.5rem;
          color: var(--TXTcolor);
          border: 3px solid var(--accentColor);
          background-color: var(--accentColor);
          cursor: pointer;
          transition: background-color 0.15s var(--easeOut);

          &:hover {
            background-color: var(--BGcolor);
          }
        }
      }
    }

    &:hover {
      & .heroImgSelectorCont .heroImg {
        scale: 1.01;
      }
    }
  }

  .sectionHeadlineCont {
    padding: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;

    @media (width >= 768px) {
      flex-direction: row;
    }
  }
  .sectionHeadline {
    --sectionHeadlineBrightness: 0.58;

    color: oklch(from var(--TXTcolor) var(--sectionHeadlineBrightness) c h);
    font-size: 3rem;
    font-weight: 250;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 2px 1px var(--shadowColor), -2px 4px 1px var(--shadowColor), -3px 6px 1px var(--shadowColor), -4px 8px 1px var(--shadowColor), -5px 10px 1px var(--shadowColor), -6px 12px 1px var(--shadowColor), -7px 14px 1px var(--shadowColor),
      -8px 16px 1px var(--shadowColor), -9px 18px 1px var(--shadowColor), -10px 20px 1px var(--shadowColor);
    user-select: none;

    @media (width >= 768px) {
      font-size: 4rem;
      text-align: left;
    }
  }
  .toolIconsCont {
    height: 3rem;
    display: flex;
    gap: 1rem;
  }
  .toolIconCont {
    width: 3rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .toolIconImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  /* PHOTOGRAPHY */
  #BilderScroll {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media (width < 768px) {
      flex-basis: 100svh;
    }
  }

  #BilderShelf {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/svg/shelf.svg");
    background-size: calc(var(--BilderSize) * 2);
    background-position-y: calc(50% + var(--BilderSize) * 0.535);
    background-repeat: repeat-x;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  #BilderScroll:has(.Bild.active) {
    & #BilderShelf {
      opacity: 0;
    }
  }

  #BilderRow {
    padding: 0 5vw;
    width: max-content;
    min-width: 100%;
    height: 100%;
    max-height: var(--BilderSize);
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    touch-action: pan-y;

    @media (width >= 768px) {
      gap: 5rem;

      &:focus-visible {
        outline: none;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .BildCont {
    width: var(--BilderSize);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;
    perspective-origin: 50% -50%;
    perspective: 100cm;

    &:has(.Bild.active) {
      width: calc(100vw - 2rem);
      height: calc(var(--contentHeight) - var(--headerHeight));
      align-items: center;
      top: calc(calc(var(--contentHeight) - var(--BilderSize)) / 2 * -1);
      z-index: 2;
    }
  }

  .Bild {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid var(--TXTcolor);
    outline: 1px solid transparent; /* <- antialiasing fix for chrome on android */
    user-select: none;
    transform-origin: bottom;
    transform: rotateY(18deg) rotateX(10deg);
    transition: all 0.33s var(--easeOut);
    backface-visibility: hidden;

    &.hover {
      transform: rotateY(18deg) rotateX(0deg);
    }

    &.focus {
      outline: thick solid var(--accentColor);
      outline-offset: 5px;
      transform: rotateY(18deg) rotateX(0deg);
    }

    &.active {
      border: 10px solid var(--TXTcolor);
      transform: rotateY(0deg) rotateX(0deg);
    }
  }

  .BilderScrollOverlay {
    height: var(--BilderSize);
    aspect-ratio: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background: #fff;
    mask-image: radial-gradient(farthest-side at right, #000 0%, #000 15%, transparent 100%);
    opacity: 0.666;
    pointer-events: none;
    transition: all 0.15s linear;
  }
  .BilderScrollOverlayText {
    display: none;
    color: var(--BGcolor);
    font-size: calc(var(--BilderSize) / 10);
    font-weight: 700;
    text-wrap: nowrap;
    user-select: none;
    translate: 1cap 0;
    body:not(:has(*:focus-visible)) &.mouse {
      display: block;
      rotate: -90deg;
    }
    body:has(*:focus-visible) &.keyboard {
      display: block;
      & kbd {
        padding: 0 0.25em;
        border: 2px solid currentColor;
        border-radius: 0.125em;
      }
    }
  }

  /* ILLUSTRATIONS */
  .illustrations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;

    @media (width >= 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5rem;
    }
  }

  .illustrationCont {
    width: var(--BilderSize);
    aspect-ratio: 1;
    position: relative;
    border: 5px solid var(--TXTcolor);
    overflow: hidden;

    & .illustrationBG,
    & .illustrationFG {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    & .illustrationBG {
      filter: blur(0);
      scale: 1;
      transition: all 0.2s var(--easeOut);
    }

    &:is(:hover, :focus-visible) {
      & .illustrationBG {
        filter: blur(5px);
        scale: 1.1;
      }
    }
  }

  /* ANIMATIONS */
  .animVidsCont {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }

  .animVids {
    width: 100%;
    height: auto;

    @media (width >= 768px) {
      width: 25%;
    }
  }
}
