@layer reset, font, main;

@import url("./font.css") layer(font);
@import url("./reset.css") layer(reset);

@layer main {
  /* VARIABLES: */
  :root {
    --accentColor: oklch(60% 0.25 30);
    --TXTcolor: oklch(95% 0.01 45);
    --BGcolor: oklch(25% 0.015 225);
    --lightBGcolor: oklch(30% 0.015 225);
    --shadowColor: oklch(15% 0.015 225);
    --tooltipColor: oklch(20% 0.015 225);
    --headerHeight: 4.5rem;
    --headerMainGap: calc(var(--headerHeight) * 0.15);
    --contentHeight: calc(100dvh - var(--headerHeight));
    --BilderSize: min(400px, 60vw, 60svh);
    --fullBorderRadius: calc(infinity * 1px);
    --easeOut: cubic-bezier(0.22, 1, 0.35, 1);
  }

  /* HELPERS: */
  /* TODO: maybe make some flex helpers like .frcc .frcfs ect. */
  .tooltipBottom {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -5px);
      transition: all 0.15s var(--easeOut);
    }
    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      top: calc(100% + 5px);
      color: var(--TXTcolor);
      font-size: 0.875rem;
      font-weight: 400;
      border-radius: 4px;
      background-color: var(--tooltipColor);
    }
    &::after {
      content: "";
      top: calc(100% + 1px);
      border-bottom: 5px solid var(--tooltipColor);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .tooltipTop {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, 5px);
      transition: all 0.15s var(--easeOut);
    }
    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      bottom: calc(100% + 5px);
      color: var(--TXTcolor);
      font-size: 0.875rem;
      font-weight: 400;
      border-radius: 4px;
      background-color: var(--tooltipColor);
    }
    &::after {
      content: "";
      bottom: calc(100% + 1px);
      border-top: 5px solid var(--tooltipColor);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  /* MAIN: */
  body {
    display: block;
    width: 100%;
    max-height: 100dvh;
    background-color: var(--BGcolor);
    overflow: hidden;
  }

  #bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -100;
  }

  /* HEADER */
  .header {
    padding: var(--headerMainGap) calc(var(--headerMainGap) * 2);
    width: 100%;
    height: var(--headerHeight);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--headerMainGap);
    background-color: var(--lightBGcolor);
    box-shadow: 0 0 35px 0 var(--shadowColor);
    z-index: 100;
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: ". logo social";
      justify-items: center;
      align-content: center;
    }
  }

  .headerLogoCont {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--headerMainGap);
    grid-area: logo;
  }
  .headerLogoIcon {
    height: 100%;
    color: var(--accentColor);
  }
  .headerLogoTxt {
    display: none;
    @media screen and (min-width: 768px) {
      display: initial;
      color: var(--TXTcolor);
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .headerSocialCont {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: calc(var(--headerMainGap) * 2);
    grid-area: social;
    @media screen and (min-width: 768px) {
      gap: calc(var(--headerMainGap) * 3);
    }
  }
  .socialBtnLink {
    height: 41px;
    aspect-ratio: 1;
    background-color: var(--TXTcolor);
    border-radius: var(--fullBorderRadius);
  }
  .socialBtnImg {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform-origin: center;
    scale: 0.66;
    transition: scale 0.15s var(--easeOut);
  }
  .socialBtnLink:hover .socialBtnImg {
    scale: 0.75;
  }

  /* CONTENT */
  .page-wrapper {
    width: 100%;
    max-height: var(--contentHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .mainCont {
    margin: 5rem 0 10rem;
    padding: 0 10%;
    width: 100%;
    max-width: 100%;
    flex: 1 0 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-top: 0;
      /* TODO: laggt mobil, idk */
      /* background-image: url("/svg/HeroBG.svg"); */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sectionHeadlineCont {
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  .sectionHeadline {
    /* TODO: check browser support for this syntax https://caniuse.com/css-relative-colors */
    color: oklch(from var(--TXTcolor) 50% c h);
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 2px 1px var(--shadowColor), -2px 4px 1px var(--shadowColor), -3px 6px 1px var(--shadowColor), -4px 8px 1px var(--shadowColor), -5px 10px 1px var(--shadowColor), -6px 12px 1px var(--shadowColor), -7px 14px 1px var(--shadowColor),
      -8px 16px 1px var(--shadowColor), -9px 18px 1px var(--shadowColor), -10px 20px 1px var(--shadowColor);
    user-select: none;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
      text-align: left;
    }
  }
  .toolIconsCont {
    height: 3rem;
    display: flex;
    gap: 1rem;
  }
  .toolIconCont {
    width: 3rem;
    cursor: pointer;
  }
  .toolIconImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  /* PHOTOGRAPHY */
  #BilderScroll {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  #BilderShelf {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/svg/shelf.svg");
    background-repeat: repeat-x;
    background-size: calc(var(--BilderSize) * 2);
    background-position-y: calc(50% + var(--BilderSize) * 0.535);
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  #BilderScroll:has(.Bild.active) {
    & #BilderShelf {
      opacity: 0;
    }
  }

  #BilderRow {
    padding: 0 5vw;
    width: max-content;
    min-width: 100%;
    height: 100%;
    max-height: var(--BilderSize);
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    touch-action: pan-y;
  }
  @media screen and (min-width: 768px) {
    #BilderRow {
      gap: 5rem;

      &:active {
        cursor: grabbing;
      }
    }
  }

  .BildCont {
    width: var(--BilderSize);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    perspective: 100cm;
    perspective-origin: 50% -50%;
    z-index: 1;

    &:has(.Bild.active) {
      top: calc(calc(100vh - var(--BilderSize)) / 2 * -1);
      align-items: center;
      min-width: 100vw;
      min-height: 100vh;
      z-index: 2;
    }
  }

  .Bild {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid var(--TXTcolor);
    transform-origin: bottom;
    transform: rotateY(18deg) rotateX(10deg);
    backface-visibility: hidden;
    outline: 1px solid transparent; /* <- antialiasing fix for chrome on android */
    transition: all 0.33s var(--easeOut);
    user-select: none;

    &.hover {
      transform: rotateY(18deg) rotateX(0deg);
    }

    &.active {
      border: 10px solid var(--TXTcolor);
      transform: rotateY(0deg) rotateX(0deg);
    }
  }

  /* ILLUSTRATIONS */
  .illustrations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
  }
  @media screen and (min-width: 1024px) {
    .illustrations {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 5rem;
    }
  }

  .illustrationCont {
    width: var(--BilderSize);
    aspect-ratio: 1;
    position: relative;
    border: 5px solid var(--TXTcolor);
    overflow: hidden;

    &:hover .illustrationBG,
    &:focus-visible .illustrationBG {
      scale: 1.1;
      filter: blur(5px);
    }
  }
  .illustrationBG {
    scale: 1;
    filter: blur(0);
    transition: all 0.2s var(--easeOut);
  }
  .illustrationBG,
  .illustrationFG {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  /* ANIMATIONS */
  .animVidsCont {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }

  .animVids {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    .animVids {
      width: 25%;
    }
  }
}
