@layer reset, font, main;

@import url("./fonts/font.css") layer(font);
@import url("./normalize.css") layer(reset);

@layer main {
  /* VARIABLES: */
  :root {
    --BGcolor: oklch(25% 0.015 225);
    --lightBGcolor: oklch(30% 0.015 225);
    --shadowColor: oklch(15% 0.015 225);
    --TXTcolor: oklch(95% 0.01 45);
    --accentColor: oklch(60% 0.25 30);
    --tooltipColor: oklch(20% 0.015 225);
    --BilderSize: min(400px, 90vw);
    --headerHeight: 4.5rem;
    --contentHeight: calc(100dvh - var(--headerHeight));
  }

  /* HELPERS: */
  .tooltipBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
      transition: all 0.15s ease;
    }

    &::before {
      content: attr(data-tooltip);
      padding: 0.3em 0.5em;
      width: fit-content;
      top: calc(100% + 5px);
      color: var(--TXTcolor);
      font-size: 0.875rem;
      font-weight: 400;
      border-radius: 4px;
      background-color: var(--tooltipColor);
    }
    &::after {
      content: "";
      top: calc(100% + 1px);
      border-bottom: 5px solid var(--tooltipColor);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* MAIN: */
  body {
    display: block;
    width: 100%;
    max-height: 100dvh;
    background-color: var(--BGcolor);
    overflow: hidden;
  }

  #bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -100;
  }

  .header {
    width: 100%;
    height: var(--headerHeight);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightBGcolor);
    box-shadow: 0 0 35px 0 var(--shadowColor);
    z-index: 100;
  }
  .headerLogoCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .headerLogoIcon {
    max-width: 3rem;
  }
  .headerLogoTxt {
    color: var(--TXTcolor);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .headerSocialCont {
    display: none;
  }

  .page-wrapper {
    width: 100%;
    max-height: var(--contentHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .mainCont {
    margin: 2rem 0;
    width: 100%;
    max-width: 100%;
    flex: 1 0 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mainCont:first-of-type {
    margin-top: 0;
    background-image: url("../img/HeroBG.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sectionHeadlineCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sectionHeadline {
    width: 100%;
    color: oklch(from var(--TXTcolor) 50% c h);
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 2px 1px var(--shadowColor), -2px 4px 1px var(--shadowColor), -3px 6px 1px var(--shadowColor), -4px 8px 1px var(--shadowColor), -5px 10px 1px var(--shadowColor), -6px 12px 1px var(--shadowColor), -7px 14px 1px var(--shadowColor),
      -8px 16px 1px var(--shadowColor), -9px 18px 1px var(--shadowColor), -10px 20px 1px var(--shadowColor);
    user-select: none;
  }

  /* PHOTOGRAPHY */
  #BilderScroll {
    cursor: pointer;
    overflow-x: hidden;
    background-image: url("../img/shelf.svg");
    background-repeat: repeat-x;
    background-size: calc(var(--BilderSize) * 2);

    &.active {
      cursor: grabbing;
    }
  }

  #BilderRow {
    padding: 0 5vw;
    width: max-content;
    min-width: 100%;
    height: 100%;
    max-height: var(--BilderSize);
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    transform-style: preserve-3d;
  }

  .BildCont {
    max-width: var(--BilderSize);
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    perspective: 100cm;
    perspective-origin: 50% -50%;
  }

  .Bild {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid var(--TXTcolor);
    transform-origin: bottom;
    transform: rotateY(18deg) rotateX(10deg);
    transition: transform 0.2s ease;

    &:hover {
      transform: rotateY(18deg) rotateX(0deg);
    }

    &.active {
      max-width: 90vw;
      max-height: 80vh;
      position: relative;
      border: 10px solid var(--TXTcolor);
    }
  }

  /* ANIMATIONS */
  .animVidsCont {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }

  .animVids {
    width: 100%;
    height: auto;
  }

  /********************/
  /* DESKTOP & TABLET */
  /********************/
  @media screen and (min-width: 768px) {
    .header {
      justify-content: space-between;
    }
    .headerLogoCont,
    .headerSocialCont {
      width: 50%;
    }
    .headerSocialCont {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
    }
    .socialBtn {
      height: 41px;
      aspect-ratio: 1;
      background-color: var(--TXTcolor);
      border-radius: 100px;
    }
    .socialBtnLink,
    .socialBtnImg {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
    .socialBtnImg {
      transform-origin: center;
      transform: scale(0.66);
      isolation: isolate;
      transition: transform 0.15s ease;
    }
    .socialBtn:hover .socialBtnImg {
      transform: scale(0.75);
    }

    .sectionHeadline {
      width: 75%;
      font-size: 4rem;
      text-align: left;
    }

    .animVids {
      width: 25%;
    }
  }

  @media screen and (min-width: 1024px) {
    .header {
      justify-content: flex-end;
    }
    .headerLogoCont,
    .headerSocialCont {
      width: 33.33%;
    }
  }
}
